<apex:page standardController="Selling_Activity__c">
    <apex:form >
        <apex:pageMessages />
    	<apex:sectionHeader title="Selling Activity Edit" subtitle="{!Selling_Activity__c.Name}"/>
        <apex:pageBlock title="Selling Activity Edit" mode="edit">
        	<apex:pageBlockButtons >
            	<apex:commandButton action="{!Save}" value="Save" />
            	<apex:commandButton action="{!Cancel}" value="Cancel" />                
            </apex:pageBlockButtons>
            <apex:pageBlockSection collapsible="false" columns="2" title="Market Information">
				<apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.Selling_Activity__c.Fields.Market_Name__c.Label}"/>
                    <apex:inputField value="{!Selling_Activity__c.Market_Name__c}"/>                    
               	</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.Selling_Activity__c.Fields.FS_Headquarter__c.Label}"/>
                    <apex:inputField value="{!Selling_Activity__c.FS_Headquarter__c}"/>                    
               	</apex:pageBlockSectionItem>    
				<apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.Selling_Activity__c.Fields.Requested_Accelerated_Market_Activation__c.Label}"/>
                    <apex:inputField value="{!Selling_Activity__c.Requested_Accelerated_Market_Activation__c}"/>                    
               	</apex:pageBlockSectionItem>        
				<apex:pageBlockSectionItem >
                    <apex:outputLabel value="Owner"/>
                    <apex:outputField value="{!Selling_Activity__c.Owner.Name}"/>                    
               	</apex:pageBlockSectionItem>         
				<apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.Selling_Activity__c.Fields.Name.Label}"/>
                    <apex:outputField value="{!Selling_Activity__c.Name}"/>                    
               	</apex:pageBlockSectionItem>                    
            </apex:pageBlockSection>
            <apex:pageBlockSection collapsible="false" columns="2" title="Details">
				<apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.Selling_Activity__c.Fields.Dispenser_Model__c.Label}"/>
                    <apex:inputField value="{!Selling_Activity__c.Dispenser_Model__c}"/>                    
               	</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.Selling_Activity__c.Fields.Average_Dispenser__c.Label}"/>
                    <apex:inputField value="{!Selling_Activity__c.Average_Dispenser__c}"/>                    
               	</apex:pageBlockSectionItem>    
				<apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.Selling_Activity__c.Fields.Selling_Status__c.Label}"/>
                    <apex:inputField value="{!Selling_Activity__c.Selling_Status__c}"/>                    
               	</apex:pageBlockSectionItem>        
				<apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.Selling_Activity__c.Fields.FS_Of_Outlets_For_Launch__c.Label}"/>
                    <apex:inputField value="{!Selling_Activity__c.FS_Of_Outlets_For_Launch__c}"/>                    
               	</apex:pageBlockSectionItem>         
				<apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.Selling_Activity__c.Fields.Disp_Configuration__c.Label}"/>
                    <apex:inputField value="{!Selling_Activity__c.Disp_Configuration__c}"/>                    
               	</apex:pageBlockSectionItem>                    
            </apex:pageBlockSection> 
            <apex:pageBlockSection title="Comment" columns="1" collapsible="false">
				<apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.Selling_Activity__c.Fields.Comment__c.Label}"/>
                    <apex:inputField style="width:60%" value="{!Selling_Activity__c.Comment__c}"/>    	
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection title="System Information" collapsible="false" columns="2">
				<apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.Selling_Activity__c.Fields.Created_On__c.Label}"/>
                    <apex:inputField value="{!Selling_Activity__c.Created_On__c}"/>    	
                </apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.Selling_Activity__c.Fields.Created_By__c.Label}"/>
                    <apex:inputField value="{!Selling_Activity__c.Created_By__c}"/>    	
                </apex:pageBlockSectionItem>                
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>